/* line 2, ../sass/test.scss */
.menu li {
  display: inline-block;
  border-right: solid 1px black;
}
/* line 5, ../sass/test.scss */
.menu li a {
  text-decoration: none;
  color: black;
}
/* line 9, ../sass/test.scss */
.menu li a h4 {
  margin-right: 0.2em;
}
/* line 13, ../sass/test.scss */
.menu li a:hover {
  color: red;
}
/* line 19, ../sass/test.scss */
.menu .end {
  border-right: none;
}
