$margin-left: 40px;
$height: 100px;
$line-height-h3: 40px;
$line-height-p: 20px;
$width: 95%;
$shadow: #4F4F4F;

@mixin alerte($font-color: #808080, $bg-color: #D3D3D3) {

	display: block;
	background-color: $bg-color;
	height: $height;
	width: $width;
	border: solid 1px $font-color;
	border-radius: 10px;
	box-shadow: 3px 3px 5px $shadow;
	margin: auto;
	overflow: auto;
	
	h3 {
		color: $font-color;
		line-height: $line-height-h3;
		margin-left: $margin-left;
	}
	
	p {
		line-height: $line-height-p;
		margin-left: $margin-left;
		margin-right: $margin-left;
	}
}