$white: #FFFFFF;
$lightgreen: #A1D88B;
$darkgreen: #39892F;
$lightblue: #0084CC;
$darkblue: #024ECC;
$lightred: #FF5252;
$darkred: #FF0000;
$lightyellow: #FFFD64;
$darkyellow: #FFFC00;

.btn, .btn-sml, .btn-lg , .btn-fancy{
		padding: 4px;
		color: #EAFBE8;
		border-radius: 5px;
		text-decoration: none;
		background: linear-gradient( $lightgreen, $darkgreen);
		background: -webkit-linear-gradient( $lightgreen, $darkgreen);
		background: -moz-linear-gradient( $lightgreen, $darkgreen);
		background: -ms-linear-gradient( $lightgreen, $darkgreen);
		background: -o-linear-gradient( $lightgreen, $darkgreen);
		border: solid 1px $darkgreen;
		
		&:active {
			box-shadow: 1px 1px 7px $lightgreen inset, 0 1px 0 rgba( 255, 255, 255, 0.4);
		}
	
}

.btn-sml {
	font-size: 0.75em;
}

.btn-lg {
	font-size: 1.4em;
}

.btn:hover, .btn-sml:hover, .btn-lg:hover {
	cursor: pointer;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	background: linear-gradient( $darkgreen, $lightgreen);
	background: -webkit-linear-gradient( $darkgreen, $lightgreen);
	background: -moz-linear-gradient( $darkgreen, $lightgreen);
	background: -ms-linear-gradient( $darkgreen, $lightgreen);
	background: -o-linear-gradient( $darkgreen, $lightgreen);
	cursor: pointer;
}	

.btn-fancy {
	color: #DBEBD4;
	background: linear-gradient( $lightgreen, $darkgreen);
	background: -webkit-linear-gradient( $lightgreen, $darkgreen);
    background: -moz-linear-gradient( $lightgreen, $darkgreen);
    background: -ms-linear-gradient( $lightgreen, $darkgreen);
    background: -o-linear-gradient( $lightgreen, $darkgreen);
	
	&:hover {
		background: linear-gradient( $darkgreen, $lightgreen);
		background: -webkit-linear-gradient( $darkgreen, $lightgreen);
		background: -moz-linear-gradient( $darkgreen, $lightgreen);
		background: -ms-linear-gradient( $darkgreen, $lightgreen);
		background: -o-linear-gradient( $darkgreen, $lightgreen);
		cursor: pointer;
	}
}



.btn-blue  {
	color: white;
	background: linear-gradient( $lightblue, $darkblue);
	background: -webkit-linear-gradient( $lightblue, $darkblue);
	background: -moz-linear-gradient( $lightblue, $darkblue);
	background: -ms-linear-gradient( $lightblue, $darkblue);
	background: -o-linear-gradient( $lightblue, $darkblue);
	border: solid 1px $darkblue;

	&:hover {
		background: linear-gradient( $darkblue, $lightblue);
		background: -webkit-linear-gradient( $darkblue, $lightblue);
		background: -moz-linear-gradient( $darkblue, $lightblue);
		background: -ms-linear-gradient( $darkblue, $lightblue);
		background: -o-linear-gradient( $darkblue, $lightblue);
	}
}

.btn-red {
	color: white;
	background: linear-gradient( $lightred, $darkred);
	background: -webkit-linear-gradient( $lightred, $darkred);
	background: -moz-linear-gradient( $lightred, $darkred);
	background: -ms-linear-gradient( $lightred, $darkred);
	background: -o-linear-gradient( $lightred, $darkred);
	border: solid 1px $darkred;

	&:hover {
		background: linear-gradient( $darkred, $lightred);
		background: -webkit-linear-gradient( $darkred, $lightred);
		background: -moz-linear-gradient( $darkred, $lightred);
		background: -ms-linear-gradient( $darkred, $lightred);
		background: -o-linear-gradient( $darkred, $lightred);
	}
}

.btn-yel {
	color: #472E02;
	background: linear-gradient( $lightyellow, $darkyellow);
	background: -webkit-linear-gradient( $lightyellow, $darkyellow);
	background: -moz-linear-gradient( $lightyellow, $darkyellow);
	background: -ms-linear-gradient( $lightyellow, $darkyellow);
	background: -o-linear-gradient( $lightyellow, $darkyellow);
	border: solid 1px #472E02;

	&:hover {
		background: linear-gradient( $darkyellow, $lightyellow);
		background: -webkit-linear-gradient( $darkyellow, $lightyellow);
		background: -moz-linear-gradient( $darkyellow, $lightyellow);
		background: -ms-linear-gradient( $darkyellow, $lightyellow);
		background: -o-linear-gradient( $darkyellow, $lightyellow);
	}
}

.btn-flat {
	border: none;
	border-radius: 0px;
}

.btn-extra {
	margin-left: 0;
	width: 100%;
}