$lightgrey: #CFCCCC;
$blue1: #0084CC;
$blue2: #024ECC;
$white: #FFFFFF;
$width: 75%;
$padding-jumbotron: 30px;
$margin-p: 20%;


div.header {
	margin: auto;
	
	h1, h2, h3, h4, h5, h6 {
		text-align: center;
	}
}

div.jumbotron {
	background-color: $lightgrey;
	width: $width;
	margin: auto;
	padding-bottom: $padding-jumbotron;
	
	h2 {
		text-align: center;
		padding-top: $padding-jumbotron;
	}
	
	p {
		text-align: center;
		margin-left: $margin-p;
		margin-right: $margin-p;
	}
	
	button {
		display: block;
		margin: auto;
		text-align: center;
		margin-top: 20px;
		padding: 4px;
		color: $white;
		background: linear-gradient( $blue1, $blue2);
		background: -webkit-linear-gradient( $blue1, $blue2);
		background: -moz-linear-gradient( $blue1, $blue2);
		background: -ms-linear-gradient( $blue1, $blue2);
		background: -o-linear-gradient( $blue1, $blue2);
		border: solid 1px $blue2;
		border-radius: 5px;
		
		&:hover {
			background: linear-gradient( $blue2, $blue1);
			background: -webkit-linear-gradient( $blue2, $blue1);
			background: -moz-linear-gradient( $blue2, $blue1);
			background: -ms-linear-gradient( $blue2, $blue1);
			background: -o-linear-gradient( $blue2, $blue1);
			cursor: pointer;
		}
		
		&:active {
			box-shadow: 1px 1px 7px #9ECEEB inset, 0 1px 0 rgba( 255, 255, 255, 0.4);
		}
	}
}