@import "compass/css3/box-sizing";

@mixin span ( $nb-span, $max-span, $gutter: 1% ) {
	
	& {
		float: left;
		background-color: green;
		margin-left: $gutter / 2;
		margin-right: $gutter / 2;
		@include box-sizing(border-box);
		width: ((100% - ($max-span - 1)*$gutter)/$max-span)*$nb-span + ($gutter * ($nb-span - 1));
	}

}

@mixin offset ( $nb-span, $max-span, $nb, $gutter: 1% ) {
	$width: ((100% - ($max-span - 1)*$gutter)/$max-span)*$nb-span + ($gutter * ($nb-span - 1));
	margin-left: $nb * $width + $nb * $gutter;
}

@mixin begin-line () {
	& {
		margin-left: 0;
	}
}

@mixin end-line () {
	& {
		margin-right: 0;
	}
}