﻿$black: #000000;
$grey: #696969;
$lightred: #E82A4E;
$white: #FFFFFF;
$pink: #CD5096;
$margin-bottom: 0.4em;

body {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, mark, del, ins, u, strong, em, abbr, code {
	margin-left: 0.2em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
	
h1 {
   	font-size: 3em;
   	margin-top: 15px;
   	margin-bottom: 15px;
}

h2 {
   	font-size: 2.5em;
   	margin-top: 12px;
  	margin-bottom: 12px;
}

h3 {
   	font-size: 2.25em;
   	margin-top: 10px;
   	margin-bottom: 10px;
}

h4 {
   	font-size:  2em;
   	margin-top: 8px;
   	margin-bottom: 8px;
}

h5 {
   	font-size: 1.75em;
   	margin-top: 5px;
   	margin-bottom: 5px;
}

h6 {
   	font-size: 1.5em;
   	margin-top: 5px;
   	margin-bottom: 5px;
}

.subtitle {
	font-size: 1.25em;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-size: 20px;
	color: $grey;
}

p {
	margin-bottom: $margin-bottom;
	
	&.left {
		text-align: left;
	}

	&.right {
		text-align: right;
	}

	&.justify {
		text-align: justify;
	}

	&.center {
		text-align: center;
	}

	&.upper {
		text-transform: uppercase;
	}

	&.lower {
		text-transform: lowercase;
	}
}

mark {
	background-color: $lightred;
	color: $white;
}

del {
	
}

ins , u {

}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

abbr {
	border-bottom: dashed 1px $black;
}

blockquote {
	font-style: italic;
	margin: 1em 2.5em;
	
	&:before, &:after {
		content:"\"";
	}
}

code {
	font-family: Consolas, monaco, monospace;
}

pre {
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

kbd {
	font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
	color: $pink;
}

ul {
    padding-left: 2em;
	margin-bottom: $margin-bottom;
	line-height: 1.1;
	
	&.circle {
		list-style-type: circle;
	}

	&.square {
		list-style-type: square;
	}
}

ol {
	padding-left: 2em;
	margin-bottom: $margin-bottom;
	list-style-type: decimal;
}

table, table.default {
	margin-left: 3em;
	margin-bottom: $margin-bottom;
}

table, th, td {
	border: solid 1px black;
	border-collapse: collapse;
}

th, td {
	padding: 10px;
}

th {
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: $grey;
}

table.default tr:nth-child(2n+1)
{
	background-color: #C0C0C0;
}

table.default td:hover{
	color: red;
	font-style: italic;
}	