@import "reset";
@import "typo";
@import "bouton";
@import "alerte";
@import "composants";
@import "grille";

.success {
	@include alerte(#508043, #D3FECA)
}

.info {
	@include alerte(#067AAC, #C0E9F9)
}

.warning {
	@include alerte(#9A9747, #FCFDC9)
}

.danger {
	@include alerte(#C71D0C, #FFD3D4)
}

.def {
	@include alerte()
}

.span-1 {
	@include span(1, 8);
}

.span-2 {
	@include span(2, 8);
}

.span-3 {
	@include span(3, 8);
}

.span-4 {
	@include span(4, 8);
}

.span-5 {
	@include span(5, 8);
}

.span-6 {
	@include span(6, 8);
}

.span-7 {
	@include span(7, 8);
}

.span-8 {
	@include span(8, 8);
}

.offset-1 {
	@include offset(1, 8, 1);
}

.offset-2 {
	@include offset(1, 8, 2);
	clear: left;
}

.offset-3 {
	@include offset(1, 8, 3);
	clear: left;
}

.offset-4 {
	@include offset(1, 8, 4);
}

.offset-5 {
	@include offset(1, 8, 5);
}

.offset-6 {
	@include offset(1, 8, 6);
}

.offset-7 {
	@include offset(1, 8, 7);
}
.begin-line {
	@include begin-line();
}

.end-line {
	@include end-line();
}