.menu {
	li {
		display: inline-block;
		border-right: solid 1px black;
		a {
			text-decoration: none;
			color: black;

			h4 {
				margin-right: 0.2em;
			}

			&:hover {
				color: red;
			}
		}
	}

	.end {
		border-right: none;
	}
}